# macOS-related files
.DS_Store 
.AppleDouble 
.LSOverride
# Windows-related files 
Thumbs.db 
Thumbs.db:encryptable 
ehthumbs.db 
ehthumbs_vista.db 
[Dd]esktop.ini

*.rpyb 
**/*.rpyb
**/*.rpyc
**/*.rpymc 
**/*.pyc 
**/*.pyo
**/*.save
persistent
**/*.persistent
**/navigation.json


*~ 
*.bak 
*.odt
*.com
*.class
*.dll
*.exe
*.o
*.so

saves
saves/
tmp 
cache
cache/
env 
_wfCache

log.txt
shaders.txt
files.txt
errors.txt 
traceback.txt